* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
   
}
/* important classes  */
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* +++++++++++++++++++++++++ */
.contact-form {
    background: linear-gradient(rgba(0, 0, 0, 0.564), rgba(0, 0, 0, 0.5)), url('./img/laptop.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.form {
    background-color: #00000028;
    width: 400px;
    padding: 1rem 2rem;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px gray, 0px 0px 15px gray;
}
.form h2{
    color: #aaa;
}
.form-control {
    margin: .5rem 0;
}

.form-control label {
    display: block;
    margin-bottom: .5rem;
    color: #aaa;
}

.form-control input,
.form-control textarea {
    background-color: #00000040;
    padding: .5rem;
    color: #aaa;
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    transition: all .5s ease;
    border-radius: 5px;
}
.form-control input:focus,
.form-control textarea:focus{
    box-shadow: 0px 0px 5px gray, 0px 0px 8px gray;
}
.form-control button{
    padding: .5rem 2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #aaa;
    cursor: pointer;
    box-shadow: 0px 0px 5px gray, 0px 0px 8px gray;
    transition: all .5s ease;
}
.submit-btn{
    background-color: #00800041;
}
.submit-btn:hover{
    background-color: #0080008d ;
    box-shadow: 0px 0px 8px gray, 0px 0px 12px gray;
}
.reset-btn{
    background-color: #b5253d8b;
}
.reset-btn:hover{
    background-color: #a9293eb9;
    box-shadow: 0px 0px 8px gray, 0px 0px 12px gray;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */
.coder{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #aaa;
}